.nav-bar
  background #fff
  border-bottom #ccc 1px solid
  box-shadow $shadow-normal #0008

  > .list
    display flex
    flex-wrap wrap
    gap $gap-small
    justify-content center
    max-width $page-width
    margin 0 auto
    padding 0
    list-style-type none

    > .item
      > .link
        display inline-block
        margin $gap-large ($gap-large / 2)
        color inherit
        text-decoration inherit
        beautiful-link($black, $white)

      > .button
        margin $gap-normal
        beautiful-button($white, $red)

      &.-nested
        position relative

        &:hover
        &:focus
        &:focus-within
          > .nested-list
            display block

        &:hover > .nested-list
          z-index 10
