.nav-bar
  padding $gap-large
  background #fff
  border-block-end #ccc 1px solid
  box-shadow $shadow-normal #cccc

  > .list
    display flex
    flex-wrap wrap
    gap $gap-normal
    justify-content center
    max-width $page-width
    margin 0 auto
    padding 0
    list-style-type none

    > .item > .link
      text-decoration inherit
