.nested-list-label
  position relative
  display inline-block
  margin $gap-large ($gap-large / 2)
  user-select none

  > .icon
    position absolute
    top 100%
    right 0
    left 0
    width 100%
