/* stylelint-disable rscss/no-descendant-combinator */
.page-content
  max-width $page-width
  margin auto
  padding 0 $gap-normal
  overflow hidden

  h1
  h2
  h3
  h4
  h5
  h6
    font-family $overpass

  h2
    margin-top 2 * $gap-normal
    font-size 4rem

  h2
  h3
    position relative

    &::after
      position absolute
      bottom 0.45em
      width 2em
      height 2px
      margin-left 0.1em
      background $red
      content ''

  h3::after
    width 1em
