$font-size = 6vw
$line-height = 1
$height = 3 * $line-height * $font-size

.splash-title
  display flex
  margin $gap-huge
  font-size $font-size
  font-family overpass, $sans-serif, sans-serif
  line-height $line-height

  > .logo
    z-index 1
    width auto
    height $height
    padding 0.17em 0

    > .image
      width auto
      height 100%

    &::before
      position absolute
      top -5%
      right 100%
      bottom -5%
      width 100vw
      background #fff
      visibility hidden
      content ''

      /* stylelint-disable-next-line */
      body.-do-splash &
        animation hide $timing-splash

  > .words
    padding-left $gap-normal
    transition transform $timing-splash

  /* stylelint-disable-next-line */
  body.-do-splash &
    > .logo
      animation splash-logo $timing-splash

    > .words
      animation splash-words $timing-splash

  /* stylelint-disable-next-line */
  &:hover .glitched-element
    > .glitch1
    > .glitch2
      animation-iteration-count infinite

@keyframes splash-logo
  from
  33%
    background linear-gradient(to right, #fff 80%, transparent)
    transform translateX(calc((1px * var(--splash-translateX) / 2))) translateY(calc(1px * var(--splash-translateY))) scale(calc(var(--splash-scale) * 0.5))

  67%
    background linear-gradient(to right, #fff 80%, transparent)
    transform translateX(calc((1px * var(--splash-translateX) / 2)))

  90%
    background linear-gradient(to right, #fff 80%, transparent)

@keyframes splash-words
  from
  67%
    transform translateX(calc(-1px * var(--splash-translateX)))
    opacity 0

@keyframes hide
  from
    visibility visible

  90%
    visibility hidden
