.splash-screen
  position relative
  display flex
  flex-direction column
  min-height 100vh
  transition min-height $timing-fast

  > .background
    position absolute
    top 0
    right 0
    bottom 0
    left 0
    z-index -1
    overflow hidden
    filter drop-shadow($shadow-normal #cccc)
