.splash-countdown
  margin 0
  padding $gap-huge
  font-size 5rem
  text-align center
  background linear-gradient(to bottom left, transparent 75%, #eee 75.01%), linear-gradient(to bottom right, transparent 75%, #eee 75.01%)
