.splash-screen
  position relative
  display flex
  flex-direction column
  min-height 50vh
  transition min-height $timing-fast

  @media (orientation landscape), (min-width 40em)
    min-height 100vh

  > .background
    position absolute
    top 0
    right 0
    bottom 0
    left 0
    z-index -1
    filter drop-shadow($shadow-normal #cccc)
