.sponsor-list
  display flex
  flex-wrap wrap
  gap $gap-huge
  align-items center
  justify-content center
  margin $gap-huge 0

  &.-gold > a > img
    height 20rem

  &.-silver > a > img
    height 12rem

  &.-bronze > a > img
    height 8rem
