.sponsor-list
  display flex
  flex-wrap wrap
  gap $gap-huge
  align-items center
  justify-content center
  margin $gap-huge 0

  &.-gold > img
    height 16rem

  &.-silver > img
    height 12rem

  &.-bronze > img
    height 8rem
