.sponsor-list
  display flex
  flex-wrap wrap
  gap $gap-large
  align-items center
  justify-content center

  &.-gold > img
    height 16rem

  &.-silver > img
    height 12rem

  &.-bronze > img
    height 8rem
