.waddling-arrow
  margin $gap-normal $gap-large $gap-large
  color #666
  animation waddle $timing-slow ease-in-out infinite
  fill inherit

@keyframes waddle
  from
  to
    transform translateY(0)

  55%
    transform translateY(-50%)
