._text-justify
  text-align justify

/* stylelint-disable-next-line */
body.-do-splash ._fade-in
  animation fadein ($timing-splash + $timing-fast)

@keyframes fadein
  from
  90%
    opacity 0

  100%
    opacity 1

._accent
  color #e51e21

._flex
  display flex
  flex-direction column

._flex1
  flex 1

._end
  justify-content flex-end

._center
  display flex
  align-items center
  justify-content center
