._text-justify
  text-align justify

._fade-in
  opacity 0
  transition opacity $timing-normal ($timing-splash - $timing-fast)

  /* stylelint-disable-next-line */
  body.-do-splash &
  body.-no-js &
    opacity 1

._accent
  color #e51e21
