._text-justify
  text-align justify

/* stylelint-disable-next-line */
body.-do-splash ._fade-in
  animation fadein ($timing-splash * 1.25)

@keyframes fadein
  from
  80%
    opacity 0

  100%
    opacity 1

._accent
  color $red

._flex
  display flex
  flex-direction column

._flex1
  flex s('1 0 0')

._end
  justify-content flex-end

._center
  display flex
  align-items center
  justify-content center

._inline-block
  display inline-block

._inline-logo
  width 1.5em
  height 1.5em
  margin 0 ($gap-small / 2)
  color inherit
  vertical-align bottom
  fill currentColor

._logo-link
  color inherit
  text-decoration none

  &:hover
  &:focus
    color $red

  > svg
    width 4rem
    height 4rem
    vertical-align bottom
    fill currentColor
