*
*::before
*::after
  box-sizing inherit

html
  box-sizing border-box
  min-height 100%
  font-size 0.5em

  @media screen and (prefers-reduced-motion no-preference)
    scroll-behavior smooth

body
  display flex
  flex-direction column
  min-height 100vh
  margin 0
  color $black
  font-size 2rem
  font-family $sans-serif
  line-height 1.5
  background-color $white

img
table
iframe
  max-width 100%

img
  height auto
  vertical-align bottom

h1
  margin $gap-large 0

h2
h3
h4
h5
h6
p
  margin $gap-normal 0

::selection
  color $black
  text-shadow none
  background $selection-color
