<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ description }}">
    <title>{{ title }}
      {% if title %} – {%endif%}Toulouse Hacking Convention</title>
      <link rel="stylesheet" href="~/assets/design.styl">
      <link rel="shortcut icon" href="~/resources/favicon.ico" type="image/x-icon">
    </head>

    <body class="-no-js">
      <script>
        document
          .body
          .classList
          .remove('-no-js')
      </script>

      {{ content | safe }}

    </body>

  </html>
