<nav class="nav-bar">
  <ul class="list">
    <li class="item">
      <a href="#intro" class="link">{{ "Introduction" | translate }}</a>
    </li>
    <li class="item">
      <a href="#ctf" class="link">{{ "CTF" | translate }}</a>
    </li>
    <li class="item">
      <a href="#news" class="link">{{ "News" | translate }}</a>
    </li>
    <li class="item">
      <a href="#sponsors" class="link">{{ "Sponsors" | translate }}</a>
    </li>
    {# <li class="item -nested">
      <span class="nested-list-label" tabindex="0">{{ "Sponsors" | translate }}
        <svg width="24" height="8" viewBox="0 0 24 8" xmlns="http://www.w3.org/2000/svg" class="icon" aria-hidden="true"><path d="M0 0L0 1L12 8L24 1L24 0L24 0L12 7z"/></svg>
      </span>
      <ul class="nested-list">
        <li>
          <a href="{{ 'sponsors' | localizeurl }}#gold">{{ "Gold" | translate }}</a>
        </li>
        <li>
          <a href="{{ 'sponsors' | localizeurl }}#silver">{{ "Silver" | translate }}</a>
        </li>
        <li>
          <a href="{{ 'sponsors' | localizeurl }}#bronze">{{ "Bronze" | translate }}</a>
        </li>
      </ul>
    </li> #}
    <li class="item -nested">
      <span class="nested-list-label" tabindex="0">{{ "History" | translate }}
        <svg width="24" height="8" viewBox="0 0 24 8" xmlns="http://www.w3.org/2000/svg" class="icon" aria-hidden="true"><path d="M0 0L0 1L12 8L24 1L24 0L24 0L12 7z"/></svg>
      </span>
      <ul class="nested-list">
        <li>
          <a href="https://20.thcon.party/">2020</a>
        </li>
        <li>
          <a href="https://19.thcon.party/">2019</a>
        </li>
        <li>
          <a href="https://18.thcon.party/">2018</a>
        </li>
        <li>
          <a href="https://17.thcon.party/">2017</a>
        </li>
      </ul>
    </li>
    <li class="item">
      <a href="https://tickets.thcon.party/thc/21/" class="button">{{ "Pre-registration" | translate }}</a>
    </li>
  </ul>
</nav>
