{%- for tier, list in sponsors -%}
  {%- if list.length > 0 -%}
    <p class="sponsor-list -{{tier}}">
      {%- for sponsor in list -%}
        <a href="{{ sponsor.link }}"><img src="{{ sponsor.image }}" alt="{{ sponsor.name }}" height="200"></a>
      {%- endfor -%}
    </p>
    {%- if not loop.last -%}<hr>{%- endif -%}
  {%- endif -%}
{%- endfor -%}
